.homeContainer {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background: #FFEAD9;
  height: calc(100vh - 69px);
  position: relative;
}

.upperRightShape {
  position: absolute;
  margin-top: -1px;
  top: 0px;
  right: 0px;
  background-image: url("/landingPage/upperRightShape.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.lowerRightShape {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-image: url("/landingPage/lowerRightShape.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}



.bearWithTable {
  display: inline-block;
  position: absolute;
  background-image: url("/landingPage/bearWithTable.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 90%;
  bottom: 0%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .bearWithTable {
    animation: 1s ease-out 0s 1 slidingBearBackgroundSmall;
    background-position: bottom;
  }

  .lowerRightShape {
    max-height: 60vh;
    background-position: bottom;
    background-size: cover;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .bearWithTable {
    max-height: 60vh;

    animation: 1s ease-out 0s 1 slidingBearBackgroundSmall;
    background-position: bottom;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 900px) {
  .bearWithTable {
    animation: 1s ease-out 0s 1 slidingBearBackgroundBig;
    background-position: right;
    max-height: 80%;

  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .lowerRightShape {
    background-size: contain;
    background-position: right bottom;
  }

  .bearWithTable {
    max-height: 90%;
  }
}

@keyframes slidingBearBackgroundSmall {
  from {
    transform: translateX(992px);
  }

  to {
    /* background-position: 50% bottom; */
  }
}


@keyframes slidingBearBackgroundBig {
  from {
    transform: translateX(200%);
    /* background-position: 200% 0px; */
  }

  to {
    /* background-position: 100% 0px; */
  }
}